<% layout('layouts/boilerplate') %>

<h1>All Campgrounds</h1>
<div>
	<a href="/campgrounds/new" class="btn btn-primary btn-sm mb-3">Add Campground</a>
</div>

<div class="row">
	<% for (let campground of campgrounds) { %>
	<div class="col-sm-6">
		<div class="card mb-3">
			<div>
				<img class="img-fluid" alt="" src="<%= campground.image %> " />
			</div>
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<p class="card-text">
					<small class="text-muted"><%= campground.location %></small>
				</p>
				<p class="card-text"><%= campground.description %></p>
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">
					View <%= campground.title %>
				</a>
			</div>
		</div>
	</div>
	<% } %>
</div>
